.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header-menu {
    display: none;
}

.menu-bars {
    color: var(--clr-light);
    width: var(--sizes-2xl);
    height: var(--sizes-2xl);
    display: block;
}

.menu-bars {
    background-color: transparent;
    border: 1px solid transparent ;
    width: 25px;
    height: 25px;
    display: block;
}


/* -- XS -- */
/* @media (min-width: 475px) {
    
} */

/* -- small -- */
/* @media (min-width: 640px) {
    
} */

/* -- medium -- */
@media (min-width: 768px) {
    .header-menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }
    
    .header-link {
        font-size: var(--sizes-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-stone);
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }
    
    .header-link:hover {
    color: var(--clr-lime);
    }

    .header-bar {
        display: none;
    }
}

/* -- large -- */
@media (min-width: 1024px) {
    .header-link {
        font-size: var(--sizes-small);
    }
}

/* -- XL -- */
/* @media (min-width: 1280px) {

} */

/* -- 2XL -- */
/* @media (min-width: 1536px) {

} */