.header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.header__menu {
    display: none;
}

.menu__bars {
    background-color: transparent;
    border: 1px solid transparent ;
    width: 25px;
    height: 25px;
    display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }
    
    .header__link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-small;
        text-decoration: none;
        font-weight: bolder;
        color: var(--clr-slate600);
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }
    
    .header__link:hover {
        color: var(--clr-rose);
    }
    
    .header__line {
        border: 1px solid var(--clr-slate600);
        padding-top: 1.5em;
    }

    .menu__bars {
        display: none;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header__link {
        font-size: small;   
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
}