:root {
    --clr-dark: #0c0a09;
    --clr-light: #ffffff;
    --clr-orange: #ea580c;
    --clr-lime: #65a30d;
    --clr-stone: #44403c;
    --clr-stoli: #57534e;
    --clr-stobri: #a8a29e;

    /* stone rgb(68, 64, 60) */
    /* lime rgb(101, 163, 13) */

/* -- sizes -- */
--size-xxs: 0.5rem
--size-xs: 0.75rem
--size-small: 0.875rem
--size-base: 1rem
--size-large: 1.125rem
--size-xl: 1.25rem
--size-2xl: 1.5rem
--size-3xl: 1.875rem
--size-4xl: 2.25rem
--size-5xl: 3rem
--size-6xl: 3.75rem
--size-7xl: 4.5rem
--size-8xl: 6rem
--size-9xl:8rem
--size-10xl:10rem
}

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

.hero-button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-stone)
}

strong {
    color: var(--clr-orange);
}